* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.all{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
}
.nav{
    display: flex;
    flex: 1;
    background-color: blueviolet;
    height: 88px;
    justify-content: center;
    align-items: center;
}
.nav__wrep{
    display: flex;
    max-width: 85%;
    flex: 1;
    max-height: 60px;
    justify-content: space-between;
    background-color: forestgreen;
}
.nav__content1{
    display: flex;
    width: 263px;
    height: 60px;
    gap: 14px;
    align-items: center;
}
.nav__content1--img{
    width: 60px;
    height: 60px;
}
.nav__content1--txt{
    display: flex;
    flex-direction: column;
}
.nav__content2{

}
.font-23{
    font-size: 23px;
}