
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.all{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
}
/*Tools*/
.font-23{
    font-size: 23px;
}
.font-15{
    font-size: 15px;
}
.font-57{
    font-size: 57px;
}

.font-45{
    font-size: 45px;
}
.height-200{
    height: 200px;
}
.color-white{
    color: #ffffff;
}
.direction-colum{
    display: flex;
    flex-direction: column;
}
.gap-20{
    gap: 20px;
}
.color-green{
    color: var(--Primary, #475F45);
}
/* nav */
.nav{
    display: flex;
    flex: 1;
    height: 88px;
    justify-content: center;
    align-items: center;
}
.nav__wrep{
    display: flex;
    max-width: 90%;
    flex: 1;
    max-height: 60px;
    justify-content: space-between;
}
.nav__content1{
    display: flex;
    width: 263px;
    height: 60px;
    gap: 14px;
    align-items: center;
}
.nav__content1--img{
    width: 60px;
    height: 60px;
}
.nav__content1--txt{
    display: flex;
    flex-direction: column;
}
.nav__content2{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav__link{
    font-size: 14px;
}
.nav__link--button{
    width: 170px;
    height: 45px;
    border: 2px solid var(--Primary, #475F45);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Primary, #475F45);
}

.nav__link--button:active{
    background-color: rgba(126, 125, 125, 0.199);
}
.nav__meniu{
    display: flex;
}
/* main */
.main{
    display: flex;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
}
.main__allwrep{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.main__txtcont{
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__burrob{
    width: 185px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__txtimg{
    max-width:458px ;
    max-height: 640px;
}
.main__txtimg--img{
    width: 100%;
}
.main__burrob--green{
    background-color: #475F45;
    color: #ffffff;
    border: none;
}
.main__buttoncont{
    display: flex;
    gap: 16px;
}
.main__buttoncont2{
    display: flex;
}
.main__discovercont{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    min-height: 1035px;
    background: var(--Header-text, #343D33);
    width: 100%;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main__soon1{
    max-width: 1040px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main__txtcont--smol{
    width: 417px;
}
.main__imigwrep{
    max-width: 534px;
    max-height: 354px;
    padding-left: 20px;
    padding-right: 20px;
}
.imigwrep__img{
   width: 100%;
   height: 100%;
}
.main__sitingarea{
    max-width: 1040px;
}
.main__sitingarea--img{
    width: 100%;
}
.NewsUpdates{
    display: flex;
    max-width: 1400px;
    width: 100%;
    justify-content: center;
    min-height: 865px;
    align-items: center;
    gap: 50px;
}
.NewsUpdates__wraps1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 7px;
}
.NewsUpdates__imgcont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 520px;
}
.NewsUpdates__img{
    max-width: 520px;
    max-height: 333px;
}
.blogcont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 630px;
    min-height: 510px;
    margin-right: 7px;
}
.blogcont__box{
    display: flex;
    gap: 20px;
    max-width: 630px;
    min-height: 151px;
    align-items: center;
}
.blogcont__txtcont{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}
/* footer */
.footer{
    display: flex;
    flex-direction: column;
    max-width: 1440;
    width: 100%;
    background-color: #475F45;
    min-height: 430px;
    color: #ffffff;
    align-items: center;
}
.footer__copyraite{
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Header-text, #343D33);
    color: #ffffff;
    width: 100%;
}
.footer__logo{
    width: 48px;
    height: 48px;
}
.footer__txtcont{
    display: flex;
    flex: 1;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer__logocont{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    min-height: 200px;
}
.footer__txttable{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__table{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* media queri*/
@media screen  and (max-width: 1038px){
    .main__allwrep{
        justify-content: center;
        gap: 60px;
    }
    .font-57{
        text-align: center;
        font-size: 45px;
    }
    .nav__content2{
        display: none;
    }
    .main__buttoncont{
        justify-content: center;
    }
    .text-center{
        text-align: center;
    }
    .nav__content1,.footer__logocont{
        max-width: 220px;
    }
    .main__soon1{
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        gap: 60px;
    }
    .main__imigwrep{
        padding-left: 40px;
        padding-right: 40px;
    }
    .main__soon1{
        order: 2;
    }
    .main__sitingarea{
        max-width: 534px;
    }
    .main__discovercont{
        gap: 40px;
    }
    .NewsUpdates__imgcont{
        flex-direction: unset;
        max-width: 1028px;
    }
    .NewsUpdates__img{
        max-width: 392px;
        max-height: 251px;
    }
    .NewsUpdates{
        justify-content: unset;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .NewsUpdates__wraps1,.blogcont{
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media screen and (min-width: 1028px){
    .nav__meniu{
        display: none;
    }
}
@media screen  and (max-width: 580px){
    .main__txtimg{
        padding-left: 60px;
        padding-right: 60px;
    }
    .main__txtcont{
        width: 316px;
    }
    .main__burrob{
        width: 165px;
        height: 46px;
    }
    .font-57{
        font-size: 34px;
    }
    .font-45{
        text-align: center;
    }
    .main__buttoncont2{
        justify-content: center;
    }
    .font-23{
        text-align: center;
    }
    .footer__txtcont{
        flex-direction: column;
        gap: 48px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer__logocont{
        text-align: center;
    }
    .footer__txttable{
        text-align: center;
    }
    .height-200{
        height: 65px;
    }
    .main__imigwrep{
        padding-left: 16px;
        padding-right: 16px;
    }
    .main__discovercont{
        gap: 20px;
        min-height: unset;
        margin-left: 7px;
    }
    .main__sitingarea{
        max-width: 345px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .main__imigwrep{
        max-width: 345px;
    }
    .NewsUpdates__imgcont{
        flex-wrap: wrap;
        justify-content: center;
    }
    .direction-colum{
        text-align: center;
    }
    .NewsUpdates__img{
        padding-left: 10px;
        padding-right: 10px;
    }
    .NewsUpdates__img--img{
        width: 100%;
    }
    .blogcont__box{
        flex-direction: column;
    }
    .blogcont__txtcont{
        text-align: center;
    }
    .NewsUpdates{
        gap: 20px;
    }
    .NewsUpdates{
        justify-content: center;
    }
    .NewsUpdates__wraps1{
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen  and (max-width: 926px){

    .nav__content2{
        align-items: center;
        padding-left: 20px;
    }
    .nav__wrep{
        width: 92%;
    }
    .nav__content1{
        width: 240px;
        gap: 5px;
    }
    .nav__content1--img{
        width: 40px;
        height: 40px;
    }
    .nav__content1--img2{
        width: 100%;
        height: 100%;
    }
    .font-23{
        font-size: 20px;
    }
    .font-15{
        font-size: 12px;
    }
}
